body {
  background-image: url('./assets/winterbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgb(15, 15, 15) 0%, rgba(69, 75, 97, 0.8) 100%);
  /* Vertical centering */
  display: table-cell;
  vertical-align: middle;
}

.form-card {
  width: 50%;
  max-width: 400px;
  padding: 0% 20% 0% 35%;
}

.form-title { 
  font-size: 65px; 
  font-family: 'Cambria';
  font-weight: 600; 
  letter-spacing: 1px; 
  color: #fffb07; 
  padding-bottom: 15px; 
}

.form-subtitle {
  font-size: 20px;
  font-family: 'Cambria';
  letter-spacing: 0.5px;
  color: #f3e8e8;
  padding-bottom: 20px;
}

.auth {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}
.auth-label {
  position: absolute;
  top: 6px;
  left: 16px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: Cambria;
  width: 100px;
}
.auth-input {
  background-color: #7784d1;
  color: white;
  font-family: "Cambria";
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 25px 18px 12px 18px;
  width: calc(100% - 18px - 18px);
  margin-bottom: 15px;
}
.auth-button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #37bb37;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 15px;
  font-family: "Cambria";
  cursor: pointer;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
}
.auth-button:hover { filter: brightness(120%); }

.chat-wrapper {
  height: 80vh; 
  width: 80%;
  margin-left: 10%; 
  color: white; 
  background: rgb(43, 47, 60);
}